.header {
  position: absolute;
  width: 100%;
  height: 150px;
  left: 0px;
  top: 0px;
  background: #000000;
}

/* .logoContainer {
  position: absolute;
  width: 205px;
  height: 159px;
  left: 0px;
  top: 0px;
} */

.logo {
  position: absolute;
  width: 188px;
  height: 159px;
  left: 0px;
  top: 0px;
}

.nav {
  position: absolute;
  width: 136px;
  height: 46px;
  left: 322px;
  top: 84px;
  color: #fff;
  /* display: flex; */
  /* justify-content: flex-end;    */
}

ul {
  /* display: flex; */
  list-style: none;
  margin: 0px;
  justify-content: center;
}

li {
  /* display: flex; */
  /* margin: 10px; */
}
